*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
html{
    font-family: "Roboto", serif;
    background-color: rgb(200, 211, 235);
    font-size: 16px;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1rem;
}
/*
================
CONTAINER STYLES
================
*/
.container{
    display: grid;
    height: 100vh;
    align-items: center;
    margin: auto;
    max-width: 1000px;
}
.card{
    background-color: white;
    width: 70%;
    margin:5% auto;
    padding: 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 70px 30px auto auto;
    justify-content: center;
}
.top{
    margin: auto;
}
/*
============
INNER STYLES
============
*/
.addtask{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.addButton{
    background-color: lightgreen;
    padding: 15px;
    border-radius: 25px;
}

.addButton:hover{
    background-color: rgb(114, 189, 114);
}
#task-input{
    height: 40px;
    width: 85%;
    border-radius: 7px;
}
#task-input:focus{
    outline: none;
}
.adding-status{
    margin: auto;
    margin-bottom: 10px;
    height: 16px;
}
.task-list{
    width: 100%;
}
.task-box{
    position: relative;
    border-radius: 7px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.left-task{
    display: flex;
}
.right-task i, .left-task i{
    padding-right: 10px;
}
i:hover{
    opacity: 0.5;
}
.red-font{
    color: red;
}
.green-font{
    color: green;
}
.edit-input{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.edit-input:focus{
    outline: none;
}
.strkie-out{
    text-decoration: line-through;
}
.pink-bg{
    background-color: pink;
}
.green-bg{
    background-color: lightgreen;
}
@keyframes slide-in{
    0% {left: 0px;}
}